@page
@using Markdig
@using Octokit
@using System.Text
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    @{
        var repo = "MinecraftConnection";
        var author = "takunology";
        var brunch = "main";

        var github = new GitHubClient(new ProductHeaderValue(repo));
        var contents = await github.Repository.Content.GetAllContents(author, repo);
        var rawContent = await github.Repository.Content.GetRawContentByRef(author, repo, contents[5].Path, brunch);
        var text = Encoding.UTF8.GetString(rawContent);
        var html = Markdown.ToHtml(text);
    }
    @Html.Raw(@html)
</div>